In [2]:
import pandas as pd
import os.path

In [3]:
BASE_DIR = "/Users/sandrynin/development/projects/Netology/Python/OpenData/names"

In [13]:
def dynamics(year_list):
    result = {}
    male = []
    female = []
    for year in year_list:
        file = os.path.join(BASE_DIR, 'yob{}.txt'.format(year))
        data = pd.read_csv(file, names=['Name', 'Gender', 'Count'])
        male.append(data[data.Gender=='M'].Count.sum())
        female.append(data[data.Gender=='F'].Count.sum())
    result['M'] = male
    result['F'] = female
    return result

In [15]:
dynamics([1900, 1950, 2000])

{'F': [299822, 1713450, 1814738], 'M': [150490, 1791474, 1962556]}

In [6]:
def df_generator(years_list):
    for year in years_list:
        file = os.path.join(BASE_DIR, 'yob{}.txt'.format(year))
        yield pd.read_csv(file, names=['Name', 'Gender', 'Count'])

In [16]:
res = pd.concat(df_generator([1900, 1950, 2000]))
res = res.groupby(['Name']).sum().sort_values(by='Count', ascending=False).head(3).reset_index()
res = list(res['Name'])
print(res)

['James', 'John', 'Robert']