In [1]:
import pandas as pd
import os.path

In [153]:
BASE_DIR = "/Users/sandrynin/development/projects/Netology/Python/OpenData/names"

In [449]:
def top_names(years_list):
    data = {}
    for year in years_list:
        file = os.path.join(BASE_DIR, 'yob{}.txt'.format(year))
        data[year] = pd.read_csv(file, names=['Name', 'Gender', 'Count'])
    merged = pd.concat(data, names=['Year', 'Pos'])
    merged = merged.groupby(['Name']).sum()
    return merged.sort_values(by='Count', ascending=False).head(3)

In [450]:
top_names([1900, 1950, 2000])

         Count
Name
James   111822
John    109613
Robert  101396

In [459]:
def dynamics(year_list):
    female = []
    male = []
    for year in year_list:
        file = os.path.join(BASE_DIR, 'yob{}.txt'.format(year))
        data = pd.read_csv(file, names=['Name', 'Gender', 'Count'])
        male.append(data[data.Gender=='M'].Count.sum())
        female.append(data[data.Gender=='F'].Count.sum())
    return male, female

In [460]:
male, female = dynamics([1900, 1950, 2000])
print('F:', female)
print('M:', male)

F: [299822, 1713450, 1814738]
M: [150490, 1791474, 1962556]

In [436]:
def df_generator(years_list):
    for year in years_list:
        file = os.path.join(BASE_DIR, 'yob{}.txt'.format(year))
        yield pd.read_csv(file, names=['Name', 'Gender', 'Count'])

In [456]:
res = pd.concat(df_generator([1900, 1950, 2000]))
# out = res.pivot_table(['Count'],['Name'], aggfunc='sum', fill_value = 0).sort_values(by='Count', ascending=False).head(3)
res.groupby(['Name']).sum().sort_values(by='Count', ascending=False).head(3)

         Count
Name
James   111822
John    109613
Robert  101396