In [1]:
import pandas as pd
import os.path

In [2]:
BASE_DIR = "/Users/sandrynin/development/projects/Netology/Python/OpenData/names"

In [3]:
def dynamics(year_list):
    result = {}
    male = []
    female = []
    for year in year_list:
        file = os.path.join(BASE_DIR, 'yob{}.txt'.format(year))
        data = pd.read_csv(file, names=['Name', 'Gender', 'Count'])
        male.append(data[data.Gender=='M'].Count.sum())
        female.append(data[data.Gender=='F'].Count.sum())
    result['M'] = male
    result['F'] = female
    return result

In [4]:
dynamics([1900, 1950, 2000])

{'F': [299822, 1713450, 1814738], 'M': [150490, 1791474, 1962556]}

In [5]:
def df_generator(years_list):
    for year in years_list:
        file = os.path.join(BASE_DIR, 'yob{}.txt'.format(year))
        yield pd.read_csv(file, names=['Name', 'Gender', 'Count'])

In [7]:
def top_names(years_list):
    res = pd.concat(df_generator(years_list))
    res = res.groupby(['Name']).sum()
    res = res.sort_values(by='Count', ascending=False).head(3)
    res= res.reset_index()
    res = list(res['Name'])
    return res

In [8]:
top_names([1900, 1950, 2000])

['James', 'John', 'Robert']